.tools_container {
  margin: 40px 30px 0 30px;
}

.page_title {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.form_container {
  margin: 60px 0 35px 0;
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  column-gap: 30px;
}

.form_container_sale {
  margin: 60px 0 35px 0;
  display: flex;
  justify-content: space-between;
  max-width: 48%;
  column-gap: 30px;
}

.products_container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 80px;
  row-gap: 40px;
}

.product_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.product_container:hover .btn_add {
  opacity: 1;
  transition: all 400ms;
  cursor: pointer;
}

.img_product {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
}

.btn_add {
  opacity: 0;
  width: 230px;
  height: 52px;
  border-radius: 21px;
  border: 2px solid #393;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  bottom: 90px;
  left: 34px;
  margin-bottom: -72px;
  text-transform: uppercase;
  color: #313133;
  background: #00FFCB;
  background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
  border: none;
  box-shadow: 12px 12px 24px rgba(1, 191, 234, 0.92);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.btn_add::before {
  content: '';
  border-radius: 31px;
  min-width: 241px;
  min-height: 60px;
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0, 255, 203, .64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.btn_add::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.btn_add:hover {
  color: #313133;
  transform: translateY(-6px);
}

.btn_add:focus {
  color: #313133;
  transform: translateY(-6px);
}

.btn_add:hover::before {
  opacity: 1;
}

.btn_add:focus::before {
  opacity: 1;
}

.btn_add:hover::after {
  animation: none;
  display: none;
}

.btn_add:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0;
  }

  50% {
    width: 150px;
    height: 150px;
    opacity: 0.7;
  }

  100% {
    width: 10px;
    height: 10px;
    opacity: 0;
  }
}