.price_container {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.6px;
}

.price_input {
  width: 103px;
  height: 40px;
  border-radius: 7px;
  border: 1px solid #000;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.sort_container {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort_select {
  width: 219px;
  height: 40px;
  border-radius: 7px;
  border: 1px solid #000;
  align-content: center;
  color: #797979;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.checkbox {
  display: none;
}

label {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #000;
  transition: all 200ms ease-in-out;
}

label:focus {
  background-image: url('../../images/basket/check-mark.svg');
  background-size: 40px;
  background-repeat: no-repeat;
}

label:active {
  transform: scale(.95);
  box-shadow: 0 0 10px 3px rgba(144, 254, 164, 1)
}

/* label:focus {
  background-image: url('../../images/basket/check-mark.svg');
  background-size: 40px;
  background-repeat: no-repeat;
} */

.discount_container {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}