.container_sale,
.tools_container {
  margin: 40px 30px 0 30px;
}

.page_title {
  color: #000;
  font-size: 40px;
  letter-spacing: 1.2px;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 0 0;
}

.sale {
  margin: 50px 0 20px 0;
}

.form_container,
.form_container_sale {
  margin: 60px 0 35px 0;
  display: flex;
  column-gap: 30px;
}

.products_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 65px;
  row-gap: 40px;
}

.product_container {
  width: 25%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product_container:hover {
  transition: all 80ms;
  transform: translateY(-6px);
  box-shadow: 0 6px 10px 4px rgb(94, 255, 0), 0 8px 24px 3px rgb(94, 255, 0);
}

.product_container:hover .btn_add {
  opacity: 1;
  transition: all 80ms;
  cursor: pointer;
}

.img_product {
  max-width: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.btn_add {
  opacity: 0;
  width: 230px;
  height: 52px;
  border-radius: 21px;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  bottom: 90px;
  margin-bottom: -72px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  background: rgba(241, 255, 241, 0.5);
  border: none;
  box-shadow: 0px 8px 30px rgba(73, 72, 72, 0.92);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.btn_add::before {
  content: '';
  border-radius: 31px;
  min-width: 241px;
  min-height: 60px;
  border: 6px solid #F1FFF1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.btn_add:hover {
  color: rgb(0, 0, 0, 1);
  transform: scale(1.04);
  background: rgba(241, 255, 241);
  box-shadow: 0 0px 10px 4px rgb(94, 255, 0, 1), 0 0px 24px 3px rgb(94, 255, 0, 1);
}

.btn_add:active {
  color: rgb(0, 0, 0, 1);
  transform: scale(1);
}

.btn_add:hover::before {
  opacity: 1;
}

.btn_add:focus::before {
  opacity: 1;
  box-shadow: 0 0px 10px 4px rgb(94, 255, 0), 0 0px 24px 3px rgb(94, 255, 0);
}

.btn_add:hover::after {
  animation: none;
  display: none;
}

.btn_add:focus::after {
  animation: none;
  display: none;
}

@media screen and (max-width: 1500px) {
  .products_container {
    column-gap: 45px;
    row-gap: 60px;
  }

  .product_container {
    width: 22%;
    height: 400px;
  }

  .img_product {
    width: 100%;
  }

  .btn_add {
    opacity: 1;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    font-size: 12px;
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    margin: 20px 0;
    color: rgba(0, 0, 0, 1);
    box-shadow: 0 0px 10px 4px rgb(94, 255, 0, 1), 0 0px 24px 3px rgb(94, 255, 0, 1);
    padding: 5px;
  }

  .btn_add::before {
    border-radius: 31px;
    min-width: 160px;
    min-height: 40px;
    opacity: 1;
    border: 6px solid #F1FFF1;
  }

  .btn_add:active {
    transform: scale(0);
  }

  .btn_add:hover {
    transform: scale(1);
  }
}

@media screen and (max-width: 1200px) {
  .page_title {
    font-size: 30px;
  }

  .sale {
    margin: 30px 0 15px 0;
  }

  .form_container,
  .form_container_sale {
    margin: 30px 0 20px 0;
    column-gap: 20px;
  }

  .products_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 35px;
    row-gap: 40px;
  }

  .product_container {
    width: 22%;
    height: 380px;
  }

  .btn_add {
    width: 130px;
    height: 25px;
    font-size: 12px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 0px 5px 2px rgb(94, 255, 0, 1), 0 0px 12px 1.5px rgb(94, 255, 0, 1);
    padding: 5px;
  }

  .btn_add::before {
    border-radius: 22px;
    min-width: 140px;
    min-height: 35px;
    border: 4px solid #F1FFF1;
  }
}

@media screen and (max-width: 1040px) {

  .container_sale,
  .tools_container {
    margin: 40px 30px 0 30px;
  }

  .page_title {
    font-size: 30px;
  }

  .sale {
    margin: 30px 0 15px 0;
  }

  .form_container,
  .form_container,
  .form_container_sale {
    margin: 30px 0 20px 0;
    column-gap: 20px;
  }

  .products_container {
    column-gap: 40px;
    column-gap: 55px;
    row-gap: 40px;
  }

  .product_container {
    width: 22%;
    height: 330px;
  }
}

@media screen and (max-width: 768px) {

  .page_title {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .sale {
    margin: 25px 0 10px 0;
  }

  .products_container {
    column-gap: 25px;
    row-gap: 30px;
  }

  .product_container {
    width: 47%;
  }
}

@media screen and (max-width: 550px) {

  .container_sale,
  .tools_container {
    margin: 15px 10px 0 10px;
  }

  .page_title {
    font-size: 20px;
  }

  .sale {
    margin: 20px 0 10px 0;
  }

  .products_container {
    column-gap: 10px;
    row-gap: 15px;
  }

  .product_container {
    max-width: 48%;
    padding: 5px;
  }

  .btn_add {
    width: 65px;
    height: 15px;
    font-size: 7px;
    border-radius: 10px;
    margin: 5px 0;
    box-shadow: 0 0px 3px 2px rgb(94, 255, 0, 1), 0 0px 5px 1px rgb(94, 255, 0, 1);
    padding: 5px;
  }

  .btn_add::before {
    border-radius: 22px;
    min-width: 75px;
    min-height: 25px;
    border: 2px solid #F1FFF1;
  }
}