.tools_container {
  margin: 40px 30px 0 30px;
}

.page_title {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.form_container {
  margin: 60px 0 35px 0;
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  column-gap: 30px;
}

.form_container_sale {
  margin: 60px 0 35px 0;
  display: flex;
  justify-content: space-between;
  max-width: 48%;
  column-gap: 30px;
}

.products_container {
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: flex-start;
  justify-content: space-between;
  column-gap: 60px;
  row-gap: 40px;
}

.product_container {
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  row-gap: 5px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product_container:hover .btn_add {
  opacity: 1;
  transition: all 200ms;
  cursor: pointer;
}

.product_container:hover {
  transition: all 200ms;
  transform: translateY(-6px);
}

.img_product {
  max-width: 300px;
  min-height: 250px;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.btn_add {
  opacity: 0;
  width: 230px;
  height: 52px;
  border-radius: 21px;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  bottom: 90px;
  margin-bottom: -72px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  background: rgba(241, 255, 241, 0.7);
  border: none;
  box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.92);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.btn_add::before {
  content: '';
  border-radius: 31px;
  min-width: 241px;
  min-height: 60px;
  border: 6px solid #F1FFF1;
  box-shadow: 0 0 60px #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.btn_add:hover {
  color: #313133;
  transform: translateY(-6px);
  background: rgba(241, 255, 241, 1);
}

.btn_add:active {
  color: #313133;
  transform: translateY(0);
  box-shadow: none;
}

.btn_add:hover::before {
  opacity: 1;
}

.btn_add:focus::before {
  opacity: 1;
}

.btn_add:hover::after {
  animation: none;
  display: none;
}

.btn_add:focus::after {
  animation: none;
  display: none;
}