.cotainer {
  margin: 40px 30px 0 30px;
}

.page_title {
  color: #000;
  font-size: 40px;
  letter-spacing: 1.2px;
  margin-bottom: 60px;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 0 0;
}

.container_categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 15px;
}

.container_categorie {
  width: 24%;
  height: 450px;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container_categorie:hover {
  transition: all 80ms;
  transform: translateY(-6px);
  box-shadow: 0 6px 10px 4px rgb(94, 255, 0), 0 8px 24px 3px rgb(94, 255, 0);
}

.img_categorie {
  width: 100%;
  height: 85%;
  object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
}

.cotegorie_title {
  margin-top: 20px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.54px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .container_categorie {
    height: 410px;
  }

  .container_categories {
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 1024px) {
  .cotainer {
    margin: 30px 20px 0 20px;
  }

  .img_categorie {
    border-radius: 16px 16px 0 0;
  }

  .page_title {
    font-size: 35px;
    margin-bottom: 30px;
  }

  .container_categories {
    column-gap: 15px;
    row-gap: 15px;
  }

  .container_categorie {
    width: 32%;
    height: 380px;
    padding: 8px;
  }
}

@media screen and (max-width: 850px) {
  .cotainer {
    margin: 20px 12px 0 12px;
  }

  .img_categorie {
    border-radius: 14px 14px 0 0;
  }

  .page_title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .container_categories {
    column-gap: 12px;
  }

  .container_categorie {
    height: 330px;
    padding: 7px;
  }
}

@media screen and (max-width: 700px) {

  .page_title {
    font-size: 28px;
    margin-bottom: 18px;
  }

  .cotegorie_title {
    margin-top: 8px;
  }
}

@media screen and (max-width: 650px) {
  .container_categorie {
    width: 48%;
    height: 380px;
  }
}

@media screen and (max-width: 500px) {

  .page_title {
    font-size: 24px;
    margin-bottom: 14px;
  }

  .container_categories {
    column-gap: 10px;
    row-gap: 15px;
  }

  .container_categorie {
    height: 260px;
    padding: 5px;
  }

  .cotegorie_title {
    margin-top: 10px;
    font-size: 16px;
  }
}