.cotainer_categories {
  margin: 79px 32px 50px 32px;
}

.heading_text {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin-bottom: 81px;
  padding-left: 22.5px;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 35px;
}

.img_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  margin-top: 20px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.54px;
}

.text_long {
  width: 258px;
  text-align: center;
  margin-top: 20px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.54px;
}

.img_fertilizer {
  width: 318px;
  height: 350px;
}