.cotainer_categories {
  margin: 40px 32px 90px 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 35px;
  justify-items: center;
}

.container_img {
  display: flex;
  justify-content: space-between;
}

.img_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  margin-top: 20px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.54px;
}

.text_long {
  width: 258px;
  text-align: center;
  margin-top: 20px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.54px;
}

.img_fertilizer {
  width: 318px;
  height: 350px;
}