.cotainer {
  margin: 40px 30px 0 30px;
}

.page_title {
  color: #000;
  font-size: 40px;
  letter-spacing: 1.2px;
  margin-bottom: 60px;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 0 0;
}

.container_categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 35px;
}

.container_categorie {
  max-width: 340px;
  max-height: 470px;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container_categorie:hover {
  transition: all 80ms;
  transform: translateY(-6px);
  box-shadow: 0 6px 10px 4px rgb(94, 255, 0), 0 8px 24px 3px rgb(94, 255, 0);
}

.img_categorie {
  width: 320px;
  height: 350px;
  object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
}

.cotegorie_title {
  margin-top: 20px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.54px;
  text-align: center;
}