header {
  height: 70px;
}

.headContainer {
  position: fixed;
  top: 0;
  z-index: 2;


  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px 10px 28px;
  background-color: #FFF;
}

.container_logoCatalog,
.container_linksCart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container_logoCatalog {
  min-width: 20vw;
}

.container_linksCart {
  min-width: 30vw;
}

.icon_logo {
  width: 72px;
  height: 72px;
}

.icon_logo:hover {
  background: none;
  border-radius: 50%;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.icon_logo:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.icon_logo-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.btn_catalog {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 125px;
  height: 50px;
  border-radius: 5px;
  background: #393;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.link {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 0 15px;
}

.icon_cart {
  width: 30px;
  height: 30px;
}