.container {
  margin: 0 30px;
}

.sale {
  color: #000;
  font-size: 40px;
  letter-spacing: 1.2px;
  margin: 50px 0 20px 0;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 0 0;
}

.container_products {
  display: flex;
  justify-content: space-between;
}

.container_product {
  max-width: 320px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  row-gap: 5px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container_product:hover {
  transition: all 80ms;
  transform: translateY(-6px);
  box-shadow: 0 6px 10px 7px rgba(0, 0, 0, 0.2), 0 8px 24px 6px rgba(0, 0, 0, 0.19);
}

.container_product:hover .btn_add {
  opacity: 1;
  transition: all 80ms;
  cursor: pointer;
}

.img_product {
  max-width: 300px;
  min-height: 300px;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.btn_add {
  opacity: 0;
  width: 230px;
  height: 52px;
  border-radius: 21px;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  bottom: 90px;
  margin-bottom: -72px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  background: rgba(241, 255, 241, 0.5);
  border: none;
  box-shadow: 0px 8px 30px rgba(73, 72, 72, 0.92);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.btn_add::before {
  content: '';
  border-radius: 31px;
  min-width: 241px;
  min-height: 60px;
  border: 6px solid #F1FFF1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.btn_add:hover {
  color: #313133;
  transform: scale(1.04);
  background: rgba(241, 255, 241, 1);
  box-shadow: 0px 0px 30px 20px rgba(73, 72, 72, 0.92)
}

.btn_add:active {
  color: #313133;
  transform: scale(1);
  box-shadow: none;
  box-shadow: 0px 0px 20px 7px #5eff00fa;
}

.btn_add:hover::before {
  opacity: 1;
}

.btn_add:focus::before {
  opacity: 1;
}

.btn_add:hover::after {
  animation: none;
  display: none;
}

.btn_add:focus::after {
  animation: none;
  display: none;
}

/* .nav_link:hover~.btn_add {
  opacity: 1;
  transition: all 400ms;
  cursor: pointer;
} */

.product_description {
  width: 300px;
  margin: 20px 0 15px 0;
  padding: 0 30px;
}

.container_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.new_price {
  color: #000;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.9px;
}

.old_price {
  color: #8B8B8B;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-decoration: line-through;
}

.discount {
  color: #FF32A1;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.6px;
}

.name_product {
  color: #3A3A3A;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}