.container {
  margin: 0 30px;
}

.sale {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin: 50px 0 20px 0;
}

.container_products {
  display: flex;
  justify-content: space-between;
}

.container_product {
  display: grid;
  justify-content: center;
}

.container_product:hover .btn_add {
  opacity: 1;
  transition: all 400ms;
  cursor: pointer;
}

.img_product {
  width: 300px;
  height: 300px;
  border-radius: 5%;
}

.btn_add {
  width: 279px;
  height: 72px;
  border-radius: 21px;
  border: 2px solid #393;
  background: #F1FFF1;

  color: #393;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  bottom: 100px;
  left: 10px;
  opacity: 0;
  margin-bottom: -72px;
}

/* .nav_link:hover~.btn_add {
  opacity: 1;
  transition: all 400ms;
  cursor: pointer;
} */

.product_description {
  width: 300px;
  margin: 20px 0 15px 0;
  padding: 0 30px;
}

.container_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.new_price {
  color: #000;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.9px;
}

.old_price {
  color: #8B8B8B;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-decoration: line-through;
}

.discount {
  color: #FF32A1;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.6px;
}

.name_product {
  color: #3A3A3A;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}