.container {
  margin-top: 7px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A1E2EB;
}

.container_text_btn {
  padding-left: 50px;
}

.sale {
  color: #FFF;
  font-size: 80px;
  font-weight: 700;
}

.new_season {
  color: #FFF;
  font-size: 63px;
  font-weight: 700;
}

.btn {
  width: 155px;
  height: 82px;
  border-radius: 13px;
  background: #FFF;
  color: #2D2D2D;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.garden_flowers {
  width: 50%;
  height: 110%;
  background-image: url(../../../images/home/garden_flowers.png);
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  bottom: 20px;

}