.container {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

.links_container {
  padding: 15px 15px;
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.img_delete {
  width: 30px;
  height: 30px;
}

.link {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 5px;
  box-shadow: 0 0 7px 1px #5eff00fa;

}