.footer {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  margin: 2em;
}

.container_info {
  display: flex;
  justify-content: space-between;
}

.container_contact,
.container_address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact {
  font-size: 40px;
  font-weight: 700;
}

.phone_number {
  color: #000;
  font-size: 70px;
  font-weight: 600;
  margin: 25px 0;
}

.container_icons {
  display: flex;
  align-items: center;
  column-gap: 3em;
}

.container_instagram,
.container_whatsApp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_address {
  color: #000;
  font-size: 40px;
  font-weight: 700;
}

.address {
  color: #000;
  font-size: 40px;
  font-weight: 600;
  margin: 25px 0;
}

.work_time {
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.time {
  color: #000;
  font-size: 24px;
  font-weight: 600;
}

.map {
  width: 100%;
  height: 300px;
  border: none;
}

.img_google_map {
  background-image: url(../../../images/footer/google_map.png);
}

@media screen and (max-width: 1320px) {
  .contact {
    font-size: 30px;
  }

  .phone_number {
    font-size: 50px;
  }

  .container_instagram,
  .container_whatsApp {
    font-size: 16px;
  }

  .instagram,
  .whatsApp {
    width: 40px;
  }

  .text_address,
  .address {
    font-size: 30px;
  }

  .work_time {
    font-size: 15px;
  }

  .time {
    font-size: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    row-gap: 35px;
  }

  .contact {
    font-size: 25px;
  }

  .phone_number {
    font-size: 35px;
    margin: 18px 0;
  }

  .container_instagram,
  .container_whatsApp {
    font-size: 14px;
  }

  .instagram,
  .whatsApp {
    width: 35px;
  }

  .text_address,
  .address {
    font-size: 25px;
  }

  .address {
    margin: 18px 0;
  }

  .work_time {
    font-size: 13px;
  }

  .time {
    font-size: 16px;
  }

  .map {
    height: 250px;
  }

}

@media screen and (max-width: 768px) {
  .footer {
    row-gap: 25px;
    margin: 2em;
  }

  .contact {
    font-size: 20px;
  }

  .phone_number {
    font-size: 25px;
    margin: 14px 0;
  }

  .container_instagram,
  .container_whatsApp {
    font-size: 12px;
  }

  .instagram,
  .whatsApp {
    width: 30px;
  }

  .text_address,
  .address {
    font-size: 20px;
  }

  .address {
    margin: 14px 0;
  }

  .map {
    height: 200px;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    margin: 1.5em;
  }

  .contact {
    font-size: 18px;
  }

  .phone_number {
    font-size: 16px;
    margin: 12px 0;
  }

  .container_icons {
    column-gap: 10px;
  }

  .container_instagram,
  .container_whatsApp {
    font-size: 10px;
  }

  .instagram,
  .whatsApp {
    width: 25px;
  }

  .text_address,
  .address {
    font-size: 14px;
  }

  .address {
    margin: 12px 0;
  }

  .work_time {
    font-size: 10px;
  }

  .time {
    font-size: 13px;
  }

  .map {
    height: 150px;
  }
}