.container {
  margin: 40px 32px 90px 32px;
}

.container_text_btn {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.page_title {
  color: #000;
  font-size: 40px;
  letter-spacing: 1.2px;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 0 0;
}

.btn {
  width: 120px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 20px;
  opacity: 0.6;
  box-shadow: 0 4px 18px 2px rgba(0, 0, 0, 0.4);
}

.btn:hover {
  transition: all 200ms;
  transform: scale(1.04);
  font-size: 13px;
  opacity: 1;
}

.btn_item_text {
  color: #070707;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.36px;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 0 0;
}

.container_categories {
  display: flex;
  justify-content: space-between;
}

.container_categorie {
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container_categorie:hover {
  transition: all 80ms;
  transform: translateY(-6px);
}

.img_cotegorie {
  width: 320px;
  height: 400px;
  object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
}

.cotegorie_title {
  margin-top: 20px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.54px;
  text-align: center;
}